.main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.login{
    flex: 1;
    margin-right: 50px;
}

.register{
    flex: 1;
}

.loginForm{
    text-align: center;
}

.loginFormField{
    margin-bottom:10px;
}

@media (max-width: 600px) {
    .main{
        flex-direction: column;
    }    
}