html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app{
  height: 100%;
}

html,body{
  height: 100%;
}